.qna-title {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: flex-start;
  font-size: 28px;
  background-color: white;
  padding-top: 140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  color: #545151;
}

.qna-post-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #cfc7c7;
  margin-bottom: 30px;
  background-color: white;
  box-sizing: border-box;
}

.qna-post-title {
  font-weight: bold;
  font-size: 24px;
  color: #595757;
  padding-bottom: 8px;
}

.qna-post-subtitle {
  display: flex;
  font-size: 12px;
  border-bottom: 1px solid #cfc7c7;
  color: #6e6c6c;
  margin-top: 10px;
  padding-bottom: 15px;
}

.qna-created_at {
  margin-left: 10px;
}

.qna-post-view {
  font-size: 20px;
  color: #6e6c6c;
  line-height: 1.5;
  margin-top: 20px;
  min-height: 200px;
}

.qna-back {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
}

.qna-post-list {
  width: 80px;
  border-radius: 10px;
  border: 1px solid #6e6c6c;
  color: #4e4a4a;
  background-color: #ffffff;
}

.qna-post-write {
  width: 80px;
  border-radius: 10px;
  border: none;
  background-color: green;
  color: white;
  margin-left: 10px;
}

.comment-wrapper {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  align-items: center;
}

.comment-wrapper input {
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cfc7c7;
}

.comment-wrapper input:focus {
  outline: none;
}

.comment-register-button {
  width: 80px;
  height: 62px;
  padding: 10px 20px;
  background-color: green;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.comment-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}

.comment-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  flex-grow: 1;
}

.comment-user {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
}

.comment-created {
  margin-left: 10px;
  font-size: 8px;
  color: #6e6c6c;
}

.comment-detail {
  margin: 0;
  font-size: 14px;
  border: none;
}

// .comment-detail input {
//   border: none;
// }

.comment-detail input:focus {
  outline: none;
}

.comment {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.comment-edit-button,
.comment-delete-button,
.comment-update-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.comment-edit-delete-button {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
