dd {
  margin: 0;
}

dt {
  font-size: 14px;
  font-weight: bold;
}

.HomeWrapper {
  @media only screen and (min-width: 1080px) {
    padding: 56px 20px 0px;
  }
}

.FrontPage {
  @media only screen and (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
  }

  width: 100%;
  margin: 0px auto;
}

.FrontComponent {
  @media only screen and (min-width: 1200px) {
    width: 100%;
  }
  
}

img.ab {
  width: 100%; /* 이미지를 부모 요소의 100% 너비로 조절합니다. */
  height: 380px; /* 이미지의 높이는 자동으로 조절됩니다. */
}

.popularTitle {
  @media only screen and (min-width: 1080px) {
    padding-left: 7px;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: black;
  font-weight: bold;
  margin: 0px 0px 20px;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.025em;
}

.projectList {
  padding: 0;
  width: 100%; 
}

.projectWrapper {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  .card-wrapper {
    width: 25%;
    padding-bottom: 40px;
  }
}

.card {
  width: 100%;
}

.info-wrapper {
  width: 100%;
}

.card .image-wrapper img {
  width: 100%;
  height: 100px; /* 이미지의 높이를 조절합니다. */
  object-fit: cover; /* 이미지를 비율을 유지하면서 컨테이너에 맞춥니다. */
}

.project-sub-info {
  padding-bottom: 2px;

  span {
    color: gray;
  }
}

.percentage {
  color: crimson;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -0.015em;
  line-height: 28px;
}