@font-face {
    font-family: 'base';
    src: url('../src/assets/font/NanumSquareNeo-bRg.ttf') format('truetype');
}

@font-face {
  font-family: 'light';
  src: url(../src/assets/font/NanumSquareNeo-aLt.ttf);
}

@font-face {
  font-family: 'bold';
  src: url(../src/assets/font/NanumSquareNeo-cBd.ttf);
}

* {
  font-family: 'base';
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a, span {
  text-decoration: none;
  color: black;
}